@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('../font/Pretendard-Bold.woff2') format('woff2'), url('../font/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('../font/Pretendard-SemiBold.woff2') format('woff2'), url('../font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('../font/Pretendard-Medium.woff2') format('woff2'), url('../font/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('../font/Pretendard-Regular.woff2') format('woff2'), url('../font/Pretendard-Regular.woff') format('woff');
}

* {
    box-sizing: border-box;
}

:root,
html {
    font-size: 12px;
}

@media (min-width: 768px) {

    :root,
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Pretendard', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.2;
    margin: 0;
    position: relative;
}

a {
    text-decoration: none;
}

dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

button,
input,
textarea {
    font-family: 'Pretendard', sans-serif;
}

input:focus,
input:hover {
    outline: none;
}

textarea {
    overflow: auto
}

/* **************************************** *
 * Common
 * **************************************** */
.container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

@media (min-width: 768px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1400px;
    }
}

.row {
    --bs-gutter-x: 2.25rem;
}

@media (min-width: 1500px) {
    .row {
        --bs-gutter-x: 2rem;
    }
}

.b-0 {
    border: 0 !important;
}

.p-none {
    padding: 0 !important;
}

/* **************************************** *
 * Background-color
 * **************************************** */
.bg-gray {
    background: #F4F5F7;
}

.bg-sky {
    background: #EBEBF1;
}

/* **************************************** *
 * Ico
 * **************************************** */
.ico {
    background-size: cover !important;
    display: inline-block;
}

.i_navbar_menu {
    background: url(../img/ico/i_menu.png);
    height: 1.5rem;
    width: 1.5rem;
}

.i_arrow_right {
    background: url(../img/ico/i_arrow_right.png);
    height: 1.5rem;
    width: 1.5rem;
}

/* **************************************** *
 * Header
 * **************************************** */
.navbar {
    min-height: 58px;
}

.navbar_logo {
    background: url(../img/logo.png);
    background-size: cover;
    height: 1rem;
    width: 5.375rem;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    transition: unset;
}
/* **************************************** *
 * Footer
 * **************************************** */
.footer {
    background: #000;
    padding: 3.75rem 0;
}

.footer img {
    margin: 0 0 2rem 0;
    width: 120px;
}

.footer .row {
    flex-direction: column-reverse;
}

.footer ul {
    display: flex;
    gap: 1rem;
}

.footer ul li a {
    color: #fff;
}

.footer_info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 2rem 0 0 0;
}

.footer_info dl {
    display: flex;
    gap: .5rem;
}

.footer_info dl dt {
    color: #fff;
    font-weight: 700;
}

.footer_info dl dd {
    color: #fff;
    font-weight: 400;
}

@media (min-width: 768px) {
    .footer .row {
        flex-direction: unset;
    }

    .footer ul {
        justify-content: flex-end;
    }
}