@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('../font/Pretendard-Bold.woff2') format('woff2'), url('../font/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('../font/Pretendard-SemiBold.woff2') format('woff2'), url('../font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('../font/Pretendard-Medium.woff2') format('woff2'), url('../font/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('../font/Pretendard-Regular.woff2') format('woff2'), url('../font/Pretendard-Regular.woff') format('woff');
}

* {
    box-sizing: border-box;
}

:root,
html {
    font-size: 12px;
}

@media (min-width: 768px) {

    :root,
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Pretendard', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.2;
    margin: 0;
    position: relative;
}

a {
    text-decoration: none;
}

dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

button,
input,
textarea {
    font-family: 'Pretendard', sans-serif;
}

input:focus,
input:hover {
    outline: none;
}

textarea {
    overflow: auto
}

/* **************************************** *
 * Common
 * **************************************** */
.container {
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 768px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1400px;
    }
}

.row {
    --bs-gutter-x: 32px;
}

@media (min-width: 1500px) {
    .row {
        --bs-gutter-x: 2rem;
    }
}

.b-0 {
    border: 0 !important;
}

.p-none {
    padding: 0 !important;
}

/* **************************************** *
 * Background-color
 * **************************************** */
.bg-gray {
    background: #F4F5F7;
}

.bg-sky {
    background: #EBEBF1;
}

/* **************************************** *
 * Ico
 * **************************************** */
.ico {
    background-size: cover !important;
    display: inline-block;
}

.i_navbar_menu {
    background: url(../img/ico/i_menu.png);
    height: 24px;
    width: 24px;
}

.i_arrow_right {
    background: url(../img/ico/i_arrow_right.png);
    height: 1.5rem;
    width: 1.5rem;
}

/* **************************************** *
 * Header
 * **************************************** */
.navbar {
    background: #fff;
    padding: 16px 0;
}

.navbar_logo {
    background: url(../img/logo.png);
    background-size: cover;
    height: 16px;
    width: 86px;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    transition: unset;
}

.navbar-toggler:focus,
.navbar-toggler:hover,
.navbar-toggler:active {
    outline: none;
}

.navbar-nav {
    margin: 12px 0 0 0;
}

.nav-link {
    color: #6b6b6b;
    font-size: 16px;
    padding: 1rem 0;
}

.nav-item button {
    background: #000;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    margin: 12px 0 0 0;
    padding: 12px 0;
    width: 100%;
}

.nav-link.dropdown-toggle::after {
    display: none;
}

.nav-item .dropdown-menu {
    border: 0;
    background: #1F8142;
    border-radius: 8px;
    margin: 4px 0;
    padding: 4px;
}

.nav-item .dropdown-menu .dropdown-item {
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    padding: 12px;
}

.navbar-nav .dropdown-item:hover {
    background: rgba(255, 255, 255, 0.30);
}

@media (min-width: 992px) {
    .navbar {
        background: rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(3px);
        padding: 20px 0;
    }

    .navbar-nav {
        margin: 0 0 0 auto;
    }

    .navbar_logo {
        background: url(../img/logo_w.png);
        background-size: cover;
        height: 23px;
        width: 120px;
    }

    .navbar-nav {
        align-items: center;
        gap: 32px;
    }

    .navbar-nav .nav-link {
        padding: 0 !important;
    }

    .nav-link {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
    }

    .nav-link:focus,
    .nav-link:hover {
        color: #fff;
    }

    .nav-item button {
        background: #fff;
        border: 0;
        border-radius: 6px;
        color: #18552E;
        font-weight: 600;
        margin: 0;
        padding: 0.5rem 0.875rem;
    }

    .navbar-nav .dropdown-menu {
        left: 50%;
        padding: 10px;
        transform: translateX(-50%);
        top: 32px;
    }

    .navbar-nav .dropdown-item {
        text-align: center;
    }
}

/* **************************************** *
 * Footer
 * **************************************** */
.footer {
    background: #000;
    padding: 3.75rem 0;
}

.footer img {
    margin: 0 0 2rem 0;
    width: 120px;
}

.footer .row {
    flex-direction: column-reverse;
}

.footer ul {
    display: flex;
    gap: 1rem;
}

.footer ul li a {
    color: #fff;
}

.footer_info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 2rem 0 0 0;
}

.footer_info dl {
    display: flex;
    gap: .5rem;
}

.footer_info dl dt {
    color: #fff;
    font-weight: 700;
}

.footer_info dl dd {
    color: #fff;
    font-weight: 400;
}

@media (min-width: 768px) {
    .footer .row {
        flex-direction: unset;
    }

    .footer ul {
        justify-content: flex-end;
    }
}